<a href="https://colab.research.google.com/github/Tariq3877/Clensing-data/blob/main/Pandas_grouping_alcohol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

In [4]:
drinks.groupby('continent').beer_servings.describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

In [5]:
drinks.groupby('continent').mean()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

In [7]:
drinks.groupby('continent').median()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF                  32.0  ...                          2.30
AS                  17.5  ...                          1.20
EU                 219.0  ...                         10.00
OC                  52.5  ...                          1.75
SA                 162.5  ...                          6.85

[5 rows x 4 columns]

In [8]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302